<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
</head>
<body>
    
    <%- include("./partials/menu.ejs") %> 
    
    <h1>Produto - <%= product.name %></h1>

    <p>
        <%= product.name %><br>
        <%= product.description %><br>
        <%= product.maker %><br>
        <%= product.price %><br>
        <%= product.quantity %><br>
        <%= product.category %><br>
        <button onClick="addCart( '<%- product.id %>', 1 )">Adicionar ao carrinho</button> | <a href="/carrinho" onClick="addCart( '<%- product.id %>', 1 )">Comprar</a>
    </p>


    <script>

        function addCart( id, qtd ) {
            let prod = { id, qtd }
            let cart = GetFromLocalStorage( 'cart' ) ? GetFromLocalStorage( 'cart' ) : []
            let hasItem = cart.find( function( item, i ) {
                if( item.id === id ) {
                    item.qtd = item.qtd + qtd
                    return true
                }
            } )
            if( hasItem ) {
                localStorage.setItem( 'cart', AddToLocalStorage( cart ) )
            } else {
                cart.push( prod )
                localStorage.setItem( 'cart', AddToLocalStorage( cart ) )
            }
            updateMenuQtdItens()
        }

        // this function converts JSON into string to be entered into localStorage
        function AddToLocalStorage( data ) {
            if( typeof data != "string" ) {
                data = JSON.stringify(data)
            }
            return data
        }
        // this function gets string from localStorage and converts it into JSON
        function GetFromLocalStorage( key ) {
            return JSON.parse( localStorage.getItem( key ) )
        }

    </script>


</body>
</html>